@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Space+Grotesk&display=swap');


/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

li {
    list-style: none;
}


/* STRUCTURE */

body {
    width: 100vw;
    background: #F6F5FF;
    font-family: 'Space Grotesk', sans-serif;
 }

 main, 
 footer {
   /* position: relative; */
   padding: 0 2rem;
 }

 .hero,
 .exchange {
    margin: 4rem 0;
 }

 img {
    max-width: 100%
 }

 #welcome {
    background: #3F14B6;
    color: #fff;
    padding: .1rem 0;
    position: relative;
    z-index: 10001;
 }

 .logo-top {
    max-width: 100%;
    display: block;
    width: 5rem;
    height: auto;
    margin: .5rem 0;
 }

 .header-nav {
   position: relative;
   width: 100%;
   top: 0;
   z-index: 1000;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   background: #FFFCF5;
   padding: .75rem;
 }

 #myLinks {
   position: absolute;
   top:100%;
   right: -100%;
   width: 270px;
   height: 30vh ;
   background: #FFFCF5;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   border-radius: 10px;
   transition: all .50s ease;
   overflow: hidden;
 }

 .hero-text{
   margin-top: 1.5rem;
 }
 .footer-nav ul li:first-child{
   font-family: 'Archivo Black', sans-serif;
   color: #3F14B6;
   ;
}

.footer-nav ul {
   margin: 1rem 0;
}

.footer-nav ul:first-child,
.footer-nav ul:nth-child(2) {
   border-bottom: 0.063rem solid #3F14B6;
}

.footer-nav ul:last-child {
   display: flex;
   justify-content: space-around;
   padding: 0 3rem;
}

.footer-nav ul:last-child a{
   font-size: 2rem;
}

.values {
   margin: .5em 0;
}

/* LINKS */
.header-nav ul {
    list-style: none;
}

.header-nav li {
    margin: 0;
}

.header-nav #myLinks a {
    color: #080244;
    padding: 1rem 0;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    display: block;
    text-align: center;
    transition: all .50s ease;
}

.header-btn {
   width: 100%;
   display: flex;
   align-items: center;
   padding: 0 2rem;
   justify-content: space-between;
}

#myLinks a:hover{
   transform: translateY(5px);
}

#myLinks a:hover,
#myLinks a:active {
    background: #080244;
    color: #FFFCF5;
    
}


.footer-nav ul li {
   margin: .1rem 0;
   text-align: center;
   padding: .25rem 0;
}

.footer-nav a {
   color: #080244;

}


 /* TYPOGRAPHY */

 h1, h2 {
    font-family: 'Archivo Black', sans-serif;
    color: #3F14B6;
 }

 #welcome-text {
    font-size: 0.625rem;
    color: #fff;
    text-align: center;
    margin: .25rem 0;
   
 }

 h1 {
    font-size: 2rem;
    font-weight: 700;
 }

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
}

 p {
    font-size: 1rem;
    margin: 1rem 0;
    text-align: justify;
   
 }
 h1,h2,h3,p {
    text-align: center;
    line-height: 1.5rem;
 }

 p:last-child {
    text-align: left;
 }

 #welcome p {
   margin: 0;
 }

 /* ACCESSORIES */
.container {
   max-width: 1440px;
   margin: 0 auto;
   justify-content: center;
}
 #menu-icon {
   display: block;
   top: .75rem;
   right: .75rem;
   position: absolute;
   font-size: 2.2rem;
   color: #080244;
   cursor: pointer;
   z-index: 10001;
 }

 #myLinks.open {
   right: 2%; 
 }

 #login-btn  {
    background: #FFF;
    color: #080244;
    border-radius: 0.625rem;
    border: .063rem solid #080244;
    padding: 0.625rem 1.2rem;
    font-weight: bold;
    transition: all .50 ease;
 }

#create-account-btn{
    background: #2C1DB2;
    color: #fff;
    border-radius: 0.625rem;
    border: .063rem solid #2C1DB2;
    padding: 0.625rem 1.2rem;
    font-weight: bold;
    transition: all .50 ease;
 }

 .exchange-now-btn { 
    width: 50%;
    background: #2C1DB2;
    color: #fff;
    border-radius: 0.625rem;
    border: .063rem solid #2C1DB2;
    padding: 0.625rem 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem auto;
    display: block;
    text-align: center;
    transition: all .50 ease;
}
form :where(input, select, button) {
  width: 100%;
  outline:none;
  border-radius: 5px;
}

form input {
   height: 50px;
   font-size: 1rem;
   padding: 0 15px;
   border: 1px solid #080244;
}

.money {
   display: flex;
   width: 100%;
   border: .75px solid #2C1DB2;
}

.hero img  {
    margin: 0 auto;
    display: block;
}

.card {
    height: auto;
    width: 100%;
    /* max-width: 560px; */
    padding: 1.5rem 2rem ;
    background: #FFFCF5;
    border-radius: 0.625rem;
    box-shadow: 0.125rem 0.125rem 1rem .5rem rgba(44,29,178,0.75);
    /* position: relative; */
}

.card h3 {
   font-size: 1.5rem;
   font-weight: 500;
   text-align: center;
}

.card form {
   margin: 40px 0 20px 0;
}

form :where(input, select, p, button ) {
   width: 100%;
   outline:none;
   border:none;
}
form p {
   font-size: .98rem;
   margin-bottom: 5px;
}

form input {
   height: 50px;
   font-size: 1rem;
   padding: 0 15px;;
   border: 1px solid #9999;
}

form input:focus {
   border: 2px solid #675afe;
}
form .droplist {
   display: flex;
   margin-top: 1.1rem;
   align-items: center;
   justify-content: space-between;
}

.droplist .select-box {
   display: flex;
   height: 1.25rem;
   width: 3rem;
   align-items: center;
   justify-content: center;
   border-radius: 5px   ;
   border: 1px solid #9999;
}

.select-box select {
   width: auto;
   font-size: 1rem;
   margin: 0 -5px 0 5px;
}

.select-box img {
   max-width: 25px;;
}

.droplist .icon {
   font-size: 1.4rem;
   margin-top: 1.8rem;
}

form .exchange-rate {
   font-size: 1rem;
   margin: 20px 0 30px;
}

form button {
height: 3rem;
background: #2C1DB2;   
color: #fff;
cursor: pointer;
font-size: 1rem;
margin-bottom: .5rem;
}

#exchange p {
   text-align: left;
}

.exchange-calculator {
   margin: 0 auto;
   padding: 0 1rem;
}

.calculator-btn {

   width: 100%;
   margin: 0 1rem;
}

.values input {
   width: 100%;
}

.values img {
   display: block;
   width: 3rem;
   margin: 0;
   padding: 0;
}

.transfer-fee {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.transfer-fee img {
   width: 1rem;
   height: 1rem;
}

/* MEDIUM SCREENS */
@media screen and (min-width: 480px) {

.flex {
      display: flex;
}

html {
      font-size: .75em;
}

main, 
 footer {
   padding: 0 4rem;
 }
.header-nav {
   flex-direction: row; 
   align-items: center;
   justify-content: space-between;
   background: #FFFCF5;
   padding: .25rem 2rem;
   transition: all .50s ease;
}

.header-btn {
   width: auto;
   display: flex;
   margin: 0%;
   align-items: center;
   align-self: center;
   justify-content:baseline;
   padding: 0;
   gap: .75rem;
}

section figure {
   width: 50%;
}
section .card {
   width: 50%;
}



#myLinks {
   position: relative;
   top:0;
   right: 0;
   width: auto;
   height: auto ;
   flex-direction: row;
   border: none;
   transition: none;
}

#myLinks ul {
   display: flex;
   flex-direction: row;
   gap: 2rem;
   justify-content: flex-end;
 }

 .header-nav #myLinks a {
   padding: 0;
 }
 
 #menu-icon {
   display: none;
 }

.hero{
   flex-direction: row-reverse;
}



.hero-text {
   width: 50%;
   padding: 0 2rem;
   align-self: center;
}


.exchange .card {
   margin-top: 2rem;
}
.exchange-text {
   width: 50%;
   padding: 1rem 2rem;
   align-self: center;
}

.exchange-text p {
   text-align: left ;
}

footer {
   flex-direction: column;
}
.footer-text {
      width: 100%;
      text-align: left;
}
.footer-text p {
   font-size: .75rem;
   line-height: normal;
}
.footer-nav{
   display: flex;
   justify-content: space-between;
   padding: 0 1rem 1rem;
   
}

.footer-nav ul {
   margin: 1rem 0;
}

.footer-nav ul li {
   text-align: left;
   margin: 1rem 0;
}


.footer-nav ul:last-child {
   justify-content: flex-start;
   flex-direction: column;

}
.footer-nav ul:last-child li{
   margin: 0;
}

.footer-nav ul:last-child li i{
   font-size: 1rem;
}

.footer-nav ul:first-child,
.footer-nav ul:nth-child(2) {
   border-bottom: none;
}

}

/* LARGE TABLETS & LAPTOPS */
@media screen and (min-width: 960px) {
   html {
      font-size: 1.25em;
   }
   body {
      margin: 0 auto;
   }

   

   h1,h2,h3,p {
      text-align: left;
   }

  

   .hero figure {
      width: 50%;
   }

   .hero .card {
      max-width: 50%;
   }
   .hero img {
      max-width: 100%;
   }
   .header-nav ul {
      display: flex;
   }
   #menu-icon {
      display: none;
   }

   footer .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   }

   .footer-text {
      width: 30%;
      padding-top: 3rem ;
   }
   
   .footer-nav {
      width: 65%;
      justify-content: space-between;
   }
}
 